<?xml version="1.0" encoding="UTF-8"?>
<!-- @copyright Copyright (c) 2013 Magenio -->
<config>
	<modules>
		<ItalianLocale_It>
			<version>0.1.0</version>
		</ItalianLocale_It>
	</modules>
	<global>
		<models>
			<italianlocale>
				<class>ItalianLocale_It_Models</class>
			</italianlocale>
		</models>
		<helpers>
			<italianlocale>
				<class>ItalianLocale_It_Helper</class>
			</italianlocale>
		</helpers>
		<blocks>
			<italianlocale>
				<class>ItalianLocale_It_Block</class>
			</italianlocale>
		</blocks>
	</global>
</config>