<?xml version="1.0"?>
<config>
    <modules>
        <MagicToolbox_Magic360>
            <version>4.8.5</version>
        </MagicToolbox_Magic360>
    </modules>
    <admin>
        <routers>
            <!--<magic360>
                <use>admin</use>
                <args>
                    <module>MagicToolbox_Magic360</module>
                    <frontName>magic360</frontName>
                </args>
            </magic360>-->
            <adminhtml>
                <args>
                    <modules>
                        <MagicToolbox_Magic360 before="Mage_Adminhtml">MagicToolbox_Magic360</MagicToolbox_Magic360>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <magictoolbox translate="title" module="magic360">
                <title>Magic Toolbox</title>
                <sort_order>300</sort_order>
                <children>
                    <magic360 translate="title" module="magic360">
                        <title>Magic 360 settings</title>
                        <sort_order>10</sort_order>
                        <action>adminhtml/magic360/index</action>
                    </magic360>
                </children>
            </magictoolbox>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <magictoolbox>
                            <title>Magic Toolbox</title>
                            <sort_order>300</sort_order>
                            <children>
                                <magic360>
                                    <title>Magic 360 settings</title>
                                    <sort_order>10</sort_order>
                                </magic360>
                            </children>
                        </magictoolbox>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <magic360>
                    <file>magic360.xml</file>
                </magic360>
            </updates>
        </layout>
        <events>
            <catalog_product_save_after>
                <observers>
                    <magic360_save_product_data>
                        <type>singleton</type>
                        <class>MagicToolbox_Magic360_Model_Observer</class>
                        <method>saveProductImagesData</method>
                    </magic360_save_product_data>
                </observers>
            </catalog_product_save_after>
        </events>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <magic360 module="MagicToolbox_Magic360">
                    <file>magic360.xml</file>
                </magic360>
            </updates>
        </layout>
        <events>
            <catalog_controller_product_view>
                <observers>
                    <magic360>
                        <type>singleton</type>
                        <class>MagicToolbox_Magic360_Model_Observer</class>
                        <method>checkForMagic360Product</method>
                    </magic360>
                </observers>
            </catalog_controller_product_view>
            <core_layout_update_updates_get_after>
                <observers>
                    <magic360>
                        <type>singleton</type>
                        <class>MagicToolbox_Magic360_Model_Observer</class>
                        <method>fixLayoutUpdates</method>
                    </magic360>
                </observers>
            </core_layout_update_updates_get_after>
            <!--<controller_action_layout_generate_blocks_after>
                <observers>
                    <magic360>
                        <type>singleton</type>
                        <class>MagicToolbox_Magic360_Model_Observer</class>
                        <method>afterBlocksGenerated</method>
                    </magic360>
                </observers>
            </controller_action_layout_generate_blocks_after>-->
        </events>
    </frontend>
    <global>
        <models>
            <magic360>
                <class>MagicToolbox_Magic360_Model</class>
                <resourceModel>magic360_mysql4</resourceModel>
            </magic360>
            <magic360_mysql4>
                <class>MagicToolbox_Magic360_Model_Mysql4</class>
                <entities>
                    <settings>
                        <table>magic360</table>
                    </settings>
                    <gallery>
                        <table>magic360_gallery</table>
                    </gallery>
                </entities>
            </magic360_mysql4>
        </models>
        <resources>
            <magic360_setup>
                <setup>
                    <module>MagicToolbox_Magic360</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </magic360_setup>
            <magic360_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </magic360_write>
            <magic360_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </magic360_read>
        </resources>
        <blocks>
            <magic360>
                <class>MagicToolbox_Magic360_Block</class>
            </magic360>
            <!--<page>
                <rewrite>
                    <html_head>MagicToolbox_Magic360_Block_Html_Head</html_head>
                </rewrite>
            </page>-->
        </blocks>
        <helpers>
            <magic360>
                <class>MagicToolbox_Magic360_Helper</class>
            </magic360>
        </helpers>
    </global>
</config>
