<?xml version="1.0"?>
<config>
    <modules>
        <Infinity_Checkout>
            <version>0.1.0</version>
        </Infinity_Checkout>
    </modules>
    <global>
<!--        <helpers>
            <infinitycheckout>
                <class>Infinity_Checkout_Helper</class>
            </infinitycheckout>
        </helpers>-->
    </global>
     <frontend>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <infinity_checkout before="Mage_Checkout">Infinity_Checkout</infinity_checkout>
                    </modules>
                </args>
            </checkout>
        </routers>
    </frontend>
</config>