<?xml version="1.0"?>
<config>
    <modules>
        <Infinity_SiteMenu>
            <version>0.3.4</version>
            <author>Haydn.h, Bruce.z</author>
            <depends>
                <Mage_Core />
                <Infinity_Base />
            </depends>
        </Infinity_SiteMenu>
    </modules>
    <frontend>
        <layout>
            <updates>
                <sitemenu>
                    <file>infinity/sitemenu.xml</file>
                </sitemenu>
            </updates>
        </layout>
        <translate>
            <modules>
                <Infinity_SiteMenu>
                    <files>
                        <default>Infinity_SiteMenu.csv</default>
                    </files>
                </Infinity_SiteMenu>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <sitemenu>
                <use>admin</use>
                <args>
                    <module>Infinity_SiteMenu</module>
                    <frontName>sitemenu</frontName>
                </args>
            </sitemenu>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <sitemenu>
                                            <title>Site Menu</title>
                                        </sitemenu>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <menu>
            <cms>
                <children>
                    <sitemenu translate="title">
                        <title>Site Menu</title>
                        <children>
                            <item translate="title">
                                <title>Manage Menu Items</title>
                                <action>sitemenu/adminhtml_item</action>
                            </item>
                        </children>
                        <children>
                            <category translate="title">
                                <title>Manage Categories</title>
                                <action>sitemenu/adminhtml_category</action>
                            </category>
                        </children>
                    </sitemenu>
                </children>
            </cms>
        </menu>
        <layout>
            <updates>
                <sitemenu>
                    <file>infinity/sitemenu.xml</file>
                </sitemenu>
            </updates>
        </layout>
        <translate>
            <modules>
                <Infinity_SiteMenu>
                    <files>
                        <default>Infinity_SiteMenu.csv</default>
                    </files>
                </Infinity_SiteMenu>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <models>
            <sitemenu>
                <class>Infinity_SiteMenu_Model</class>
                <resourceModel>sitemenu_mysql4</resourceModel>
            </sitemenu>
            <sitemenu_mysql4>
                <class>Infinity_SiteMenu_Model_Mysql4</class>
                <entities>
                    <item>
                        <table>infinity_sitemenu_items</table>
                    </item>
                    <category>
                        <table>infinity_sitemenu_categories</table>
                    </category>
                </entities>
            </sitemenu_mysql4>
            <core>
                <rewrite>
                    <url>Infinity_SiteMenu_Model_Url</url>
                </rewrite>
            </core>
<!--            <widget>
                <rewrite>
                    <template_filter>Infinity_SiteMenu_Model_Template_Filter</template_filter>
                </rewrite>
            </widget>-->
        </models>
        <resources>
            <sitemenu_setup>
                <setup>
                    <module>Infinity_SiteMenu</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sitemenu_setup>
            <sitemenu_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sitemenu_write>
            <sitemenu_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sitemenu_read>
        </resources>
        <helpers>
            <sitemenu>
                <class>Infinity_SiteMenu_Helper</class>
            </sitemenu>
        </helpers>
        <blocks>
            <page>
                <rewrite>
                    <html_breadcrumbs>Infinity_SiteMenu_Block_Breadcrumbs</html_breadcrumbs>
                </rewrite>
            </page>
            <checkout>
                <rewrite>
                    <links>Infinity_SiteMenu_Block_Links</links>
                </rewrite>
            </checkout>
            <sitemenu>
                <class>Infinity_SiteMenu_Block</class>
            </sitemenu>
        </blocks>
    </global>
    <default>
        <sitemenu>
            <settings>
                <columnItemLimit>4</columnItemLimit>
            </settings>
        </sitemenu>
    </default>
</config>