<?xml version="1.0"?>
<config>
    <modules>
        <Infinity_ProductDetailPdf>
            <version>0.1.0</version>
        </Infinity_ProductDetailPdf>
    </modules>
    <global>
        <resources>
            <pdf_attrs>
                <setup>
                    <module>Infinity_ProductDetailPdf</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </pdf_attrs>
        </resources>
    </global>
</config>
